<div class="container">
  <div class="chess-board">
    <div class="row">
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
    </div>
    <div class="row">
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
    </div>
    <div class="river">
      <div class="river-left-text">
        楚河
      </div>
      <div class="river-right-text">
        汉界
      </div>
    </div>
    <div class="row">
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
    </div>
  </div>
  <div class="piece-board">
    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-cannon></app-piece-cannon>
    <app-piece-cannon></app-piece-cannon>
    <app-piece-chariot ></app-piece-chariot>
    <app-piece-chariot ></app-piece-chariot>
    <app-piece-horse></app-piece-horse>
    <app-piece-horse></app-piece-horse>
    <app-piece-minister></app-piece-minister>
    <app-piece-minister></app-piece-minister>
    <app-piece-guard></app-piece-guard>
    <app-piece-guard></app-piece-guard>
    <app-piece-marshal></app-piece-marshal>

    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-minion></app-piece-minion>
    <app-piece-cannon></app-piece-cannon>
    <app-piece-cannon></app-piece-cannon>
    <app-piece-chariot></app-piece-chariot>
    <app-piece-chariot></app-piece-chariot>
    <app-piece-horse></app-piece-horse>
    <app-piece-horse></app-piece-horse>
    <app-piece-minister></app-piece-minister>
    <app-piece-minister></app-piece-minister>
    <app-piece-guard></app-piece-guard>
    <app-piece-guard></app-piece-guard>
    <app-piece-marshal></app-piece-marshal>

    <div class="board-tile" *ngFor="let tile of coordinate" (click)="clickTile(tile)"
         [ngStyle]="{'left': tile.coordinate[0]*100 - 7 + 'px', 'top': tile.coordinate[1]*100 - 7 + 'px'}"></div>
  </div>
</div>
