.container {
    width: 800px;
    margin: 10px auto;
}

.chess-board {
    width: 800px;
    height: 900px;
    border: 1px solid black;
    background: #f9e5c0;
}

.tile {
    width: 98px;
    height: 98px;
    float: left;
    border: 1px solid black;
    position: relative;
}

.river {
    width: 798px;
    height: 98px;
    float: left;
    border: 1px solid black;
    position: relative;
}

.diagonal-back-slash:after {
    content: "";
    position: absolute;
    top: 98px;
    border-bottom: 2px solid black;
    width: 138px;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
}

.diagonal-slash:after {
    content: "";
    position: absolute;
    border-top: 2px solid black;
    width: 138px;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
}

.right-down-corner:after {
    content: "";
    position: absolute;
    top: 70px;
    left: 70px;
    width: 20px;
    height: 20px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.right-up-corner:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 70px;
    width: 20px;
    height: 20px;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.left-down-corner:after {
    content: "";
    position: absolute;
    top: 70px;
    left: 7px;
    width: 20px;
    height: 20px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.left-up-corner:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 20px;
    height: 20px;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.upRight-downLeft-corner:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 70px;
    width: 20px;
    height: 20px;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.upRight-downLeft-corner:after {
    content: "";
    position: absolute;
    top: 70px;
    left: 7px;
    width: 20px;
    height: 20px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.upLeft-downRight-corner:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 20px;
    height: 20px;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.upLeft-downRight-corner:after {
    content: "";
    position: absolute;
    top: 70px;
    left: 70px;
    width: 20px;
    height: 20px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}