<div class="container">
  <div class="chess-board">
    <div class="row">
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
    </div>
    <div class="row">
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
    </div>
    <div class="river">
      <div class="river-left-text">
        楚河
      </div>
      <div class="river-right-text">
        汉界
      </div>
    </div>
    <div class="row">
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
    </div>
  </div>
  <div class="piece-board">
    <app-piece-minion [coordinate]="coordinate.black['minion-1']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.black['minion-2']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.black['minion-3']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.black['minion-4']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.black['minion-5']"></app-piece-minion>
    <app-piece-cannon [coordinate]="coordinate.black['cannon-1']"></app-piece-cannon>
    <app-piece-cannon [coordinate]="coordinate.black['cannon-2']"></app-piece-cannon>
    <app-piece-chariot [coordinate]="coordinate.black['chariot-1']"></app-piece-chariot>
    <app-piece-chariot [coordinate]="coordinate.black['chariot-2']"></app-piece-chariot>
    <app-piece-horse [coordinate]="coordinate.black['horse-1']"></app-piece-horse>
    <app-piece-horse [coordinate]="coordinate.black['horse-2']"></app-piece-horse>
    <app-piece-minister [coordinate]="coordinate.black['minister-1']"></app-piece-minister>
    <app-piece-minister [coordinate]="coordinate.black['minister-2']"></app-piece-minister>
    <app-piece-guard [coordinate]="coordinate.black['guard-1']"></app-piece-guard>
    <app-piece-guard [coordinate]="coordinate.black['guard-2']"></app-piece-guard>
    <app-piece-marshal [coordinate]="coordinate.black['marshal']"></app-piece-marshal>

    <app-piece-minion [coordinate]="coordinate.red['minion-1']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.red['minion-2']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.red['minion-3']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.red['minion-4']"></app-piece-minion>
    <app-piece-minion [coordinate]="coordinate.red['minion-5']"></app-piece-minion>
    <app-piece-cannon [coordinate]="coordinate.red['cannon-1']"></app-piece-cannon>
    <app-piece-cannon [coordinate]="coordinate.red['cannon-2']"></app-piece-cannon>
    <app-piece-chariot [coordinate]="coordinate.red['chariot-1']"></app-piece-chariot>
    <app-piece-chariot [coordinate]="coordinate.red['chariot-2']"></app-piece-chariot>
    <app-piece-horse [coordinate]="coordinate.red['horse-1']"></app-piece-horse>
    <app-piece-horse [coordinate]="coordinate.red['horse-2']"></app-piece-horse>
    <app-piece-minister [coordinate]="coordinate.red['minister-1']"></app-piece-minister>
    <app-piece-minister [coordinate]="coordinate.red['minister-2']"></app-piece-minister>
    <app-piece-guard [coordinate]="coordinate.red['guard-1']"></app-piece-guard>
    <app-piece-guard [coordinate]="coordinate.red['guard-2']"></app-piece-guard>
    <app-piece-marshal [coordinate]="coordinate.red['marshal']"></app-piece-marshal>
  </div>
</div>
