<div class="container">
  <div class="chess-board">
    <div class="row">
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
    </div>
    <div class="row">
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
    </div>
    <div class="river">
      <div class="river-left-text">
        楚河
      </div>
      <div class="river-right-text">
        汉界
      </div>
    </div>
    <div class="row">
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
      <div class="tile left-down-corner">

      </div>
      <div class="tile right-down-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile upLeft-downRight-corner">

      </div>
      <div class="tile upRight-downLeft-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile right-up-corner">

      </div>
      <div class="tile left-up-corner">

      </div>
    </div>
    <div class="row">
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile diagonal-back-slash">

      </div>
      <div class="tile diagonal-slash">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
      <div class="tile">

      </div>
    </div>
  </div>
</div>
