.piece {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 45px;
  font-weight: 900;
  border: 2px solid rgb(169, 124, 93);
  background: radial-gradient(rgb(255, 255, 255), rgb(204, 143, 101));
  z-index: 10;
}

.content {
  position: absolute;
  top: 11px;
  left: 16px;
}

.black {
  color: black;
}

.red {
  color: rgb(255, 4, 0);
}
